<div class="form">
  <div class="form-wrapper">
    <div class="form-title">
      <h1>新規投稿</h1>
    </div>

    <div class="form-box">
      <label class="input-label">プロジェクト名</label><br />
      <input type="text" class="input-default">
    </div>

    <div class="form-row2">
      <div class="form-box set-num">
        <label class="input-label">参加人数の設定</label><br />
        <input type="text" class="input-num">
      </div>

      <div class="form-box set-num">
        <label class="input-label">募集期間の設定</label><br />
        <input type="text" class="input-num">
      </div>
    </div>

    <div class="form-box">
      <label class="input-label">プロジェクト内容</label><br />
      <textarea class="textarea-default"></textarea>
    </div>

    <div class="form-box last-form-box">
      <label class="input-label">タグ</label><br />
      <input type="text" class="input-default">
    </div>

    <div class="form-submit">
      <input class="form-submit-btn" type="submit" value="作成する">
    </div>
  </div>
</div>