<%= render 'shared/header' %>

<div class="post-area">
  <div class="post-info-area">
    <div class="post-header">
      <div class="post-img-area">
        <img src="" class="post-img">
      </div>
      <div class="post-title-area">
        <h2 class="post-title">プロジェクト名</h2>
      </div>
    </div>
    <div class="post-main">
      <div class="post-content-area">
        <table class="post-table">
          <tbody>
            <tr>
              <th class="post-table-title">プロジェクト名</th>
              <td class="post-table-data">プロジェクト名が入ります</td>
            </tr>
            <tr>
              <th class="post-table-title">プロジェクト紹介</th>
              <td class="post-table-data">紹介文が入ります</td>
            </tr>
            <tr>
              <th class="post-table-title">プロジェクト内容</th>
              <td class="post-table-data">
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
                内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります内容が入ります
              </td>
            </tr>
            <tr>
              <th class="post-table-title">チーム締め切り日時</th>
              <td class="post-table-data">○年○月○日</td>
            </tr>
            <tr>
              <th class="post-table-title">人数</th>
              <td class="post-table-data">8人予定</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="post-comment-area">
        <div class="post-comment-header">
          <p class="post-comment">コメント</p>
        </div>
        <div class="post-comment-main-area">
          <form>      
            <input name="name" type="text" class="comment-input" placeholder="お名前" />   
            <textarea name="text" class="comment-input" placeholder="質問・問い合わせなど"></textarea>
            <div class="submit-area">
            <input type="submit" value="コメントする" class="comment-btn"/>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="post-footer">
      <div class="post-footer-btn-area">
        <a href="" class="footer-btn01">参加</a>
        <a href="" class="footer-btn02">閉じる</a>
      </div>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>